---
language: bash
services: docker

dist: xenial

env:
  - VERSION=10.7-3.0 VARIANT=alpine

before_script:
  - env | grep -E "VARIANT|VERSION" | sort
  - cd "$VERSION/$VARIANT"
  - ls
  - cat Dockerfile
  - image="hayderimran7/postgis:$VERSION${VARIANT:+-${VARIANT}}"

script:
  - docker build --pull -t "$image" .
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push "$image"
